.CardItem {
    width: 500px;
    padding: 10px;
    margin: 10px;
    background-color:lightgoldenrodyellow;
    border: 7px groove #e1e1e1;
    border-radius: 10px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Info {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.InfoP{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ItemImg {
    width: 300px;
    object-fit: cover;
    object-position: center;
}

.ItemCheck{
    padding: 15px;
    font-size: 20px;
    background: lightgoldenrodyellow;
    border: 7px groove #e1e1e1;
    border-radius: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ItemCheck:hover{
    background-color: black;
    color: white;
}
