.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
}

.divCounter {
    display: flex;
    justify-content: center;
}

.Cart {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    background: lightgoldenrodyellow;
    border: 7px groove #e1e1e1;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Cart:hover{
    background-color: black;
    color: white;
}

.Number {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

