.cardProduct{
    position: relative;
    width: 330px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color:lightgoldenrodyellow;
    border: 7px groove #e1e1e1;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.itemImg{
    width: 200px;
}

.itemImg:hover{
    opacity: 0.5;
}

.itemName{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
}

.itemPrice{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

.Det{
    color: black;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.Det:hover{
    color: black;
    opacity: 0.5;
    cursor: pointer;
}