.cardProduct{
    position: relative;
    height: 250px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardProduct:hover{
    opacity: 0.5;
}

.itemImg{
    width: 300px;
}

.itemName{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

.itemPrice{
    font-size: 30px;
    margin: 10px;
}