.TextC{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.InputC{
    padding: 15px;
    margin: 5px;
    font-size: 21px;
    background: lightgoldenrodyellow;
    width: fit-content;
    border: 7px groove #e1e1e1;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.BuyButton{
    padding: 15px;
    font-size: 21px;
    background: lightgoldenrodyellow;
    border: 7px groove #e1e1e1;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.BuyButton:hover{
    background-color: black;
    color: white;
}