.Navbar {
    font-size: 50px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
   
     
}

.Title{
   padding-right: 15%;
   color: black;
}

.Buttons{
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: space-around;   
}

.Button{
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px;
    
}

.Button:hover{ 
    background-color: black;
    color: white;

}