.CardCartItem {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    margin: 30px;
    font-size: 10px;
    background-color: lightgoldenrodyellow;
    border:  7px groove #e1e1e1;
    border-radius: 10px;
}

.InfoCartItem {
    margin-right: 50px;
}

.ContainerItemCartItem {
    display: flex;
    justify-content: space-between;
}

.ItemHeaderCartItem {
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 17px;
}

.InfoCartItem {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 17px;
}

.ButtonCartItem {
    width: auto;
    padding: 12px;
    font-size: 12px;
    background: lightgoldenrodyellow;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 5px groove #e1e1e1;
    color:black;
    font-weight: bolder;
    cursor: pointer;
    outline: inherit;
}

.ButtonCartItem:hover{
    background-color:silver;
}

.ItemFooterCartItem {
    display: flex;
}